:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-color: #f5f2ec;
  --primary-pink: #f3c7bd;
  --white: #fff;
  --primary-text: #063469;
  --secondary-text: #bdb3b3;
  --border-radius: 1rem;
  --black: #000;
  --pink-text: #e5a599;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  border: thin solid var(--secondary-text);
  background-color: var(--bg-color);
  gap: 2rem;
}

.sidepanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
}

.create-new {
  padding: 1rem 2rem;
  background-color: var(--primary-pink);
  border-radius: var(--border-radius);
  text-align: center;
  position: relative;
}

.create-new h4 {
  margin: 0;
}

.card {
  padding: 2rem 1rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
}

.list-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list-container li {
  display: flex;
  align-items: center;
  color: var(--black);
  position: relative;
  gap: 0.4rem;
  opacity: 0.3;
}

.list-container li.active {
  opacity: 0.6;
}

.next-icon {
  position: absolute;
  right: 0;
  top: 3px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.welcome-container {
  border: thin solid var(--pink-text);
  border-radius: var(--border-radius);
  padding: 1.2rem 1.5rem 0.8rem 2.5rem;
  background-color: var(--primary-pink);
  width: 100%;
  background-image: url('assets/person.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}

.welcome-container h2 {
  margin: 0;
  color: var(--primary-text);
  font-weight: normal;
  letter-spacing: 1px;
}

.welcome-container h1 {
  margin: 0;
  margin-block: 1.5rem 3rem;
  color: var(--primary-text);
}

button.address {
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0.8rem 1.5rem;
  background-color: var(--pink-text);
  color: var(--white);
}

.card-container {
  display: flex;
  gap: 1rem;
}

.card-container .card {
  flex-grow: 1;
}

.card-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.card-inner h4 {
  color: var(--primary-text);
  margin: 0;
}

.chart-container {
  width: 300px;
}

.card-inner ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  padding-inline-start: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card-inner li {
  color: var(--primary-text);
  font-size: 14px;
}

.card-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
